<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/author/main.css" />
  </head>
  <body style="background-color: #b8bbd1">
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img
                src="images/profile.png"
                width="156px"
                height="142px"
                alt=""
              />
            </div>

            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left-icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="/author/icon/Facebook.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="/author/icon/Instagram.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="/author/icon/Linkeding.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="/author/icon/Dribbble.svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="/author/icon/Youtube.svg" class="icon-1" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2">
            <div class="left2_1">
              <div class="left2_1_1">
                <span>Age:</span>
              </div>
              <div class="left2_1_2">
                <span><%=user.age%></span>
              </div>
            </div>
            <div class="left2_1">
              <div class="left2_1_1">
                <span>Residence:</span>
              </div>
              <div class="left2_1_2">
                <span><%=user.residence%></span>
              </div>
            </div>
            <div class="left2_1">
              <div class="left2_1_1">
                <span>Freelance:</span>
              </div>
              <div class="left2_1_2">
                <span
                  style="
                    color: var(--Available, #7eb942);
                    text-align: right;
                    font-kerning: none;
                    font-feature-settings: 'calt' off;

                    /* Paragraph Progress - 15 */
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 160% */
                    text-transform: capitalize;
                  "
                  >Available</span
                >
              </div>
            </div>
            <div class="left2_1">
              <div class="left2_1_1">
                <span>Address:</span>
              </div>
              <div class="left2_1_2">
                <span><%=user.address%></span>
              </div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_3">
            <h1>Languages</h1>
            <div class="perInfoMain">
              <div class="perInfo">
                <span>English</span>
                <span>100%</span>
              </div>
              <img src="/author/icon/Line100.svg" alt="" />
            </div>
            <div class="perInfoMain">
              <div class="perInfo">
                <span>Korean</span>
                <span>80%</span>
              </div>
              <img src="/author/icon/Line80.svg" alt="" />
            </div>
            <div class="perInfoMain">
              <div class="perInfo">
                <span>Russian</span>
                <span>60%</span>
              </div>
              <img src="/author/icon/Line60.svg" alt="" />
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_4">
            <h1>Skills</h1>
            <div class="perInfoMain">
              <div class="perInfo">
                <span>HTML</span>
                <span>100%</span>
              </div>
              <img src="/author/icon/Line100.svg" alt="" />
            </div>
            <div class="perInfoMain">
              <div class="perInfo">
                <span>CSS</span>
                <span>100%</span>
              </div>
              <img src="/author/icon/Line100.svg" alt="" />
            </div>
            <div class="perInfoMain">
              <div class="perInfo">
                <span>JS</span>
                <span>80%</span>
              </div>
              <img src="/author/icon/Line80.svg" alt="" />
            </div>
            <div class="perInfoMain">
              <div class="perInfo">
                <span>PHP</span>
                <span>60%</span>
              </div>
              <img src="/author/icon/Line60.svg" alt="" />
            </div>
            <div class="perInfoMain">
              <div class="perInfo">
                <span>PYTHON</span>
                <span>80%</span>
              </div>
              <img src="/author/icon/Line80.svg" alt="" />
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_5">
            <h1>Extra Skills</h1>
            <div class="extraSkills">
              <img src="/author/icon/extraSkills.svg" alt="" />
              <span>bootstrap, Materialize</span>
              <div class="extraSkills">
                <img src="/author/icon/extraSkills.svg" alt="" />
                <span>Stylus, Sass, Less</span>
                <div class="extraSkills">
                  <img src="/author/icon/extraSkills.svg" alt="" />
                  <span>Gulp, Webpack, Grunt</span>
                  <div class="extraSkills">
                    <img src="/author/icon/extraSkills.svg" alt="" />
                    <span>Git knowledge</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="midd_frame">
          <div class="midd_1">
            <img class="absolute" src="/author/icon/Ellipse.svg" alt="" />
            <div class="midd_1_1">
              <div style="width: 499.514px; height: 116.744px; flex-shrink: 0">
                <span
                  style="
                    color: var(--Black, #2b2b2b);
                    font-family: Inter;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 123.6%; /* 59.328px */
                  "
                  >Doctor neurologists in OHSU Hospital
                </span>
              </div>
              <div style="width: 424.437px; height: 85.612px; flex-shrink: 0">
                <span
                  style="
                    color: var(--Paragraph-Font, #767676);
                    font-kerning: none;
                    font-feature-settings: 'calt' off;

                    /* H6 - 16px */
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px; /* 150% */
                    text-transform: capitalize;
                  "
                  >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
                  volutpat feugiat placerat lobortis. Natoque rutrum semper sed
                  suspendisse nunc lectus.</span
                >
              </div>
              <div><button>HIRE ME</button></div>
            </div>
            <div class="midd_1_2">
              <img src="/author/images/Profile(1).png" alt="" />
            </div>
          </div>
          <div style="background-color: #f0f0f6" class="midd_2">
            <div>
              <span
                style="
                  color: var(--Black, #2b2b2b);

                  /* H2 - 32px */
                  font-family: Inter;
                  font-size: 32px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 123.6%; /* 39.552px */
                  text-transform: capitalize;
                "
                >My Services</span
              >
              <span
                style="
                  width: 438px;
                  height: 68px;
                  flex-shrink: 0;
                  color: var(--Paragraph-Font, #767676);
                  text-align: center;
                  font-kerning: none;
                  font-feature-settings: 'calt' off;

                  /* P-15px paragraph */
                  font-family: Inter;
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 24px; /* 160% */
                  text-transform: capitalize;
                "
                >Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit. lorem
                ipsum</span
              >
            </div>
          </div>
          <div class="midd_3">
            <div class="midd_3_1">
              <img src="/author/icon/middFrame_3_1.svg" alt="" />
              <div class="midd_3_1_2">
                <div class="midd_3_1_2_1">Web Development</div>
                <div class="midd_3_1_2_2">Blog, E-Commerce</div>
              </div>
            </div>
            <div class="midd_3_1">
              <img src="/author/icon/3_2.svg" alt="" />
              <div class="midd_3_1_2">
                <div class="midd_3_1_2_1">Web Development</div>
                <div class="midd_3_1_2_2">Blog, E-Commerce</div>
              </div>
            </div>
            <div class="midd_3_1">
              <img src="/author/icon/3_3.svg" alt="" />
              <div class="midd_3_1_2">
                <div class="midd_3_1_2_1">Web Development</div>
                <div class="midd_3_1_2_2">Blog, E-Commerce</div>
              </div>
            </div>
            <div class="midd_3_1">
              <img src="/author/icon/3_4.svg" alt="" />
              <div class="midd_3_1_2">
                <div class="midd_3_1_2_1">Web Development</div>
                <div class="midd_3_1_2_2">Blog, E-Commerce</div>
              </div>
            </div>
            <div class="midd_3_1">
              <img src="/author/icon/3_5.svg" alt="" />
              <div class="midd_3_1_2">
                <div class="midd_3_1_2_1">Web Development</div>
                <div class="midd_3_1_2_2">Blog, E-Commerce</div>
              </div>
            </div>
            <div class="midd_3_1">
              <img src="/author/icon/middFrame_3_1.svg" alt="" />
              <div class="midd_3_1_2">
                <div class="midd_3_1_2_1">Web Development</div>
                <div class="midd_3_1_2_2">Blog, E-Commerce</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
